@media only screen and (min-width: 600px) {
  .root {
    min-width: 100vw;
    min-height: calc(100vh - 64px);
    display: flex;
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .root {
    min-width: 100vw;
    min-height: calc(100vh - 48px);
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .root {
    min-width: 100vw;
    min-height: calc(100vh - 56px);
    display: flex;
  }
}
